{% extends "base.html" %}
{% block meta_title %}QutyPie-Quiz|こたえ{% endblock %}
{% block page_title %}QutyPie-Quiz|こたえ{% endblock %}
{% block content %}

{% if answer_choice_no == choice_no %}
<p>せいかい</p>
{% else %}
<p>ざんねん</p>
{% endif %}


<button id="next_btn" type="button" class="btn btn-success">つぎのもんだい</button>

{% endblock %}

{% block js %}
<script>
    $(function(){
        $('#next_btn').click(function() {
            location.href = "{% url 'question' category_id question_no|add:"1" %}";
        });
    });
</script>
{% endblock %}