{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {# Bootstrap4 で。#}
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link href="{% static 'question_base.css' %}" rel="stylesheet">
  <title>{% block meta_title %}{% endblock %}</title>
  {% block css %}
  {% endblock %}
  
</head>

<body>
<div id="body_wrapper">

<header>
  <div class="container-fluid frame">
    <div class="row">
          <img src="{% static "header_bar.png" %}" alt="" class="img-fluid h-100">
    </div>
    
    <div class="row gutter-40">
      <div class="col-2 d-none d-md-block" id="site_icon">
        <div class="float-right">
          <a href="{% url 'top' %}">
            <img src="{% static "site_icon.png" %}" alt="" class="img-fluid" id="site_icon_img">
          </a>
        </div>
      </div>
      <div class="col-6" id="site_name">
        <a href="{% url 'top' %}">
          <b>QutyPie-Quiz</b><br>
        </a>
        <div class="row">
          <div class="col-12">
            <div class="float-left" id="site_sub_name">
              プリンセスの知育クイズ
            </div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</header>

{% block extrahead %}
{% endblock %}
{% block content %}
{% endblock %}

<footer>
  {% block footer %}
  {% endblock %}
  <div class="container-fluid footer_logo_bg">
    <div class="row gutter-40 ">
      <div class="col-2 d-none d-md-block" id="footer_site_icon">
        <div class="float-right">
          <img src="{% static "footer_site_icon.png" %}" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-6" id="footer_site_name">
        <b>QutyPie-Quiz</b><br>
        <div class="row">
          <div class="col-12">
            <div class="float-left" id="footer_site_sub_name">
              プリンセスの知育クイズ
            </div>
          </div>
        </div>
        <div class="col-2"></div>
      </div>

      <div class="col-4 footer_sub_text1">
        >機能・問題のリクエスト<br>
        <div class="row">
          <div class="col-12">
            <div class="float-left footer_sub_text2">
              <a href="{% url 'help' %}"><div id="help_link">このサイトについて</div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <img src="{% static "header_bar.png" %}" alt="" class="img-fluid h-100">
    </div>
  </div>


</footer>

{% block foot_scripts %}
  {% block jquery %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
          integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
          integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
          crossorigin="anonymous"></script>
{% endblock %}

{% block js %}
{% endblock %}

</div>
</body>
</html>