{% extends "base.html" %}
{% load static %}
{% block css %}
<link href="{% static 'help.css' %}" rel="stylesheet">
{% endblock %}

{% block meta_title %}QutyPie-Quiz|このサイトについて{% endblock %}
{% block content %}


<div id="main">
    <div class="container">
        <div class="row" id="main_row">
            <div class="col" id="expire_main_message">
                <div class="p_title"><p><b>このサイトについて</b></p></div>
                <div class="p_body"><p>このサイトは～～を目的としたサイトです。</p></div>
                <div class="caution"><p>※～～～の場合がございます。</p></div>
                
                <div class="GoogleAdsence">
                    <div class="p_title"><p><b>GoogleAdsenceについて</b></p></div>
                    <div class="p_body"><p>このサイトは〜〜〜〜のため、〜〜〜〜〜〜となります。</p></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<div class="container">
    <div class="row justify-content-center banner_row">
        <div class="card border-light banner_sp d-md-none d-block">
            <img class="card-img" src="{% static "banner_sp.png" %}" alt="">
            <div class="card-img-overlay">
            <h4 class="text-white"><b>バナー</b></h4>
            </div>
        </div>

        <div class="card border-light banner_pc d-none d-md-block">
            <img class="card-img" src="{% static "banner.png" %}" alt="">
            <div class="card-img-overlay">
            <h4 class="text-white"><b>バナー</b></h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}