{% extends "question_base.html" %}
{% block meta_title %}Q{{ question_no }}{% endblock %}

{% load static %}
{% block css %}
<link href="{% static 'question.css' %}" rel="stylesheet">
{% endblock %}

{% block container %}


{% endblock %}

{% block js %}
<script>
    $(function(){
        $("#decision_btn").prop("disabled", true);
        var default_url = "{% url 'answer_result' category.id question.id question_no 99999 %}"
        var next_url = default_url

        $('#decision_btn').click(function() {
            location.href = next_url;
        });

        $('.choice_btn').click(function() {
            $(this).addClass("bg-secoundary");
            $(this).removeClass("bg-white");

            var clicked_btn = $(this)

            $(".choice_btn").each(function(i, o){
                if ($(o).attr('id') != clicked_btn.attr('id')){
                    $(o).addClass("bg-white");
                    $(o).removeClass("bg-secoundary");
                }
            });

            next_url = "{% url 'answer_result' category.id question.id question_no 99999 %}"
            next_url = next_url.replace("99999", $(this).attr('name'));

            $("#decision_btn").addClass("btn-success");
            $("#decision_btn").removeClass("btn-dark");
            $("#decision_btn").prop("disabled", false);
        });
    });
</script>
{% endblock %}