{% extends "base.html" %}
{% block meta_title %}Q{{ question_no }}{% endblock %}

{% load static %}
{% block css %}
<link href="{% static 'question.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="main">
    <div class="container">
        <div class="row" id="question">
            <div class="card mx-auto border-light question_card">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <b><div class="question_body">Q:{{ question.body | linebreaksbr }}</div></b>
                        </div>
                    </div>
                    {% if question_type == 'text' %}
                        {% for textchoice in question.textchoice_set.all %}
                            <div class="row">
                                {% if question.question_disp_type.name == '左寄せ' %}
                                    <div class="col text-left choice_text choice_col_pc d-none d-md-block">
                                        <div class="card border-white choice_card" id="choice_btn_{{ textchoice.choice_no }}" name={{ textchoice.choice_no }}>
                                            <div class="card-body mx-auto choice_card_body_pc">
                                                <div class="card-text choice_wrapper" >
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <span class="choice_no_wrapper">{{ textchoice.choice_no }}.&nbsp;</span>
                                                        </div>
                                                        <div class="col-11">
                                                            <div class="textchoice_kanji">{{ textchoice.body | linebreaksbr }}</div>
                                                            <div style="display: none;" class="textchoice_kana">{{ textchoice.body_kana | linebreaksbr }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col text-left choice_text choice_col_sp d-md-none d-block">
                                        <div class="card border-white choice_card" id="choice_btn_{{ textchoice.choice_no }}" name={{ textchoice.choice_no }}>
                                            <div class="card-body">
                                                <div class="card-text choice_wrapper">
                                                    {{ textchoice.choice_no }}.&nbsp;
                                                    <span class="textchoice_kanji">{{ textchoice.body | linebreaksbr }}</span>
                                                    <span style="display: none;" class="textchoice_kana">{{ textchoice.body_kana | linebreaksbr }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% else %}
                                    <div class="col text-center choice_text choice_col_pc d-none d-md-block">
                                        <div class="card border-white choice_card" id="choice_btn_{{ textchoice.choice_no }}" name={{ textchoice.choice_no }}>
                                            <div class="card-body mx-auto choice_card_body_pc">
                                                <div class="card-text choice_wrapper">
                                                    <div class="row">
                                                        <div class="col">
                                                            <span class="choice_no_wrapper">{{ textchoice.choice_no }}.&nbsp;</span>
                                                            <span class="textchoice_kanji">{{ textchoice.body | linebreaksbr }}</span>
                                                            <span style="display: none;" class="textchoice_kana">{{ textchoice.body_kana | linebreaksbr }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col text-center choice_text choice_col_sp d-md-none d-block">
                                        <div class="card border-white choice_card" id="choice_btn_{{ textchoice.choice_no }}" name={{ textchoice.choice_no }}>
                                            <div class="card-body mx-auto">
                                                <div class="card-text choice_wrapper">{{ textchoice.choice_no }}.&nbsp;
                                                    <span class="textchoice_kanji">{{ textchoice.body | linebreaksbr }}</span>
                                                    <span style="display: none;" class="textchoice_kana">{{ textchoice.body_kana | linebreaksbr }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% elif question_type == 'img' %}
                        <div class="row">
                            <div class="img_choice_pc_width d-none d-md-block"></div>
                            {% for imagechoice in question.imagechoice_set.all %}
                                <div class="col mx-auto choice_col ">
                                    <span class="card text-center border-white choice_card img_choice" id="choice_btn_{{ imagechoice.choice_no }}" name={{ imagechoice.choice_no }}>
                                        <span class="card-body img_choice_card_body">
                                            <span class="card-text">
                                                <img src="/media/{{ imagechoice.img }}">
                                            </span>
                                        </span>
                                    </span>
                                </div>
                                {% if forloop.counter|divisibleby:question.wrap_back_num %}
                                        <div class="img_choice_pc_width d-none d-md-block"></div>
                                    </div>
                                    <div class="row">
                                        <div class="img_choice_pc_width d-none d-md-block"></div>
                                {% endif %}
                            {% endfor %}
                            <div class="img_choice_pc_width d-none d-md-block"></div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col text-center">
                            <button id="decision_btn" type="button" class="btn"><b>けってい</b></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-center">
                            <button id="kanji_hiragana_toggle" type="button" class="btn bg-white">ひらがなにする</button>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container">
    <div class="row justify-content-center banner_row">
        <div class="card border-light banner_sp d-md-none d-block">
            <img class="card-img" src="{% static "banner_sp.png" %}" alt="">
            <div class="card-img-overlay">
            <h4 class="text-white"><b>バナー</b></h4>
            </div>
        </div>

        <div class="card border-light banner_pc d-none d-md-block">
            <img class="card-img" src="{% static "banner.png" %}" alt="">
            <div class="card-img-overlay">
            <h4 class="text-white"><b>バナー</b></h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jquery %}
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
{% endblock %}

{% block js %}
<script>
    $(function(){
        var skip_qty = 0;

        $("#main").on("swiperight",function(){
            var width = $('.question_card').width();
            $('#question').removeClass('row');
            $('.question_card').width(width);
            $("#main").addClass('rotate-left').delay(700).fadeOut(1);
            skip_qty++;
        });
        
        $("#decision_btn").prop("disabled", true);
        var default_url = "{% url 'answer_result' category.id 987654321 123456789 question_type 99999 %}"
        var next_url = default_url

        $('#decision_btn').click(function() {
            location.href = next_url;
        });

        $(document).on('click', '.choice_card', function() {
            $(this).addClass("bg-secondary");
            $(this).addClass("text-white");
            $(this).removeClass("bg-white");

            var clicked_btn = $(this)

            $(".choice_card").each(function(i, o){
                if ($(o).attr('id') != clicked_btn.attr('id')){
                    $(o).addClass("bg-white");
                    $(o).removeClass("bg-secondary");
                    $(o).removeClass("text-white");
                }
            });

            next_url = default_url
            next_url = next_url.replace("987654321", {{ question.id }});
            next_url = next_url.replace("123456789", {{ question_no }} + skip_qty);
            next_url = next_url.replace("99999", $(this).attr('name'));
            console.log(next_url);

            $("#decision_btn").prop("disabled", false);
            $("#decision_btn").prop("disabled", false);
        });

        var is_kana = true;

        $(document).on('click', '#kanji_hiragana_toggle', function() {
            $('#kanji_hiragana_toggle').fadeOut(500, function() {
                if (is_kana){
                        $('#kanji_hiragana_toggle').text("漢字にする")
                }
                else{
                    $('#kanji_hiragana_toggle').text("ひらがなにする")
                }
                $('#kanji_hiragana_toggle').fadeIn(500, function() {
                    if(is_kana){
                        is_kana = false;
                    }
                    else{
                        is_kana = true;
                    }
                });
            }); 

            $('.question_body').fadeOut(500, function() {

                if (is_kana){
                    $('.question_body').text("Q:{{ question.body_kana | linebreaksbr }}")
                }
                else{
                    $('.question_body').text("Q:{{ question.body | linebreaksbr }}")
                }

                $('.question_body').fadeIn(500, function() {

                });
            }); 

            $(".choice_wrapper").fadeOut(500, function() {
                if (is_kana){
                    $(".textchoice_kanji").hide();
                    $(".textchoice_kana").show();
                }
                else {
                    $(".textchoice_kanji").show();
                    $(".textchoice_kana").hide();
                }
                $(".choice_wrapper").fadeIn(500, function() {
                    
                });
            });
        });

        
    });
</script>
{% endblock %}