{% extends "base.html" %}
{% block meta_title %}Q{{ question_no }}{% endblock %}

{% load static %}
{% block css %}
<link href="{% static 'question.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% for question in question_list %}

{% if forloop.counter == 1 %}
    <div id="main_{{ forloop.counter }}">
{% else %}
    <div id="main_{{ forloop.counter }}" style="display: none;">
{% endif %}
    <div hidden id="q_id_{{ forloop.counter }}">{{ question.pk }}</div>
    <div hidden id="c_type_{{ forloop.counter }}">{{ question.choice_type }}</div>
    <div class="container">
        <div class="row question">
            <div class="card mx-auto border-light question_card">
                
                    <img src="{% static "page_skip.png" %}" class="note">
                
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center question_body_wrapper">
                            <b><div class="question_body">Q:{{ question.body | linebreaksbr }}</div></b>
                            <b><div style="display: none;" class="question_body_kana">Q:{{ question.body_kana | linebreaksbr }}</div></b>
                        </div>
                    </div>
                    {% if question.choice_type == 'text' %}
                        {% for textchoice in question.textchoice_set.all %}
                            <div class="row">
                                {% if question.question_disp_type.name == '左寄せ' %}
                                    <div class="col text-left choice_text choice_col_pc d-none d-md-block">
                                        <div class="card border-white choice_card" id="choice_btn_{{ forloop.counter }}_{{ textchoice.choice_no }}" name={{ textchoice.choice_no }}>
                                            <div class="card-body mx-auto choice_card_body_pc">
                                                <div class="card-text choice_wrapper" >
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <span class="choice_no_wrapper">{{ textchoice.choice_no }}.&nbsp;</span>
                                                        </div>
                                                        <div class="col-11">
                                                            <div class="textchoice_kanji">{{ textchoice.body | linebreaksbr }}</div>
                                                            <div style="display: none;" class="textchoice_kana">{{ textchoice.body_kana | linebreaksbr }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col text-left choice_text choice_col_sp d-md-none d-block">
                                        <div class="card border-white choice_card" id="choice_btn_{{ forloop.counter }}_{{ textchoice.choice_no }}" name={{ textchoice.choice_no }}>
                                            <div class="card-body">
                                                <div class="card-text choice_wrapper">
                                                    {{ textchoice.choice_no }}.&nbsp;
                                                    <span class="textchoice_kanji">{{ textchoice.body | linebreaksbr }}</span>
                                                    <span style="display: none;" class="textchoice_kana">{{ textchoice.body_kana | linebreaksbr }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% else %}
                                    <div class="col text-center choice_text choice_col_pc d-none d-md-block">
                                        <div class="card border-white choice_card" id="choice_btn_{{ forloop.counter }}_{{ textchoice.choice_no }}" name={{ textchoice.choice_no }}>
                                            <div class="card-body mx-auto choice_card_body_pc">
                                                <div class="card-text choice_wrapper">
                                                    <div class="row">
                                                        <div class="col">
                                                            <span class="choice_no_wrapper">{{ textchoice.choice_no }}.&nbsp;</span>
                                                            <span class="textchoice_kanji">{{ textchoice.body | linebreaksbr }}</span>
                                                            <span style="display: none;" class="textchoice_kana">{{ textchoice.body_kana | linebreaksbr }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col text-center choice_text choice_col_sp d-md-none d-block">
                                        <div class="card border-white choice_card" id="choice_btn_{{ forloop.counter }}_{{ textchoice.choice_no }}" name={{ textchoice.choice_no }}>
                                            <div class="card-body mx-auto">
                                                <div class="card-text choice_wrapper">{{ textchoice.choice_no }}.&nbsp;
                                                    <span class="textchoice_kanji">{{ textchoice.body | linebreaksbr }}</span>
                                                    <span style="display: none;" class="textchoice_kana">{{ textchoice.body_kana | linebreaksbr }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% elif question.choice_type == 'img' %}
                        <div class="row">
                            <div class="img_choice_pc_width d-none d-md-block"></div>
                            {% for imagechoice in question.imagechoice_set.all %}
                                <div class="col mx-auto choice_col ">
                                    <span class="card text-center border-white choice_card img_choice" id="choice_btn_{{ imagechoice.choice_no }}" name={{ imagechoice.choice_no }}>
                                        <span class="card-body img_choice_card_body">
                                            <span class="card-text">
                                                <img src="/media/{{ imagechoice.img }}">
                                            </span>
                                        </span>
                                    </span>
                                </div>
                                {% if forloop.counter|divisibleby:question.wrap_back_num %}
                                        <div class="img_choice_pc_width d-none d-md-block"></div>
                                    </div>
                                    <div class="row">
                                        <div class="img_choice_pc_width d-none d-md-block"></div>
                                {% endif %}
                            {% endfor %}
                            <div class="img_choice_pc_width d-none d-md-block"></div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col text-center">
                            <button id="decision_btn_{{ forloop.counter }}" type="button" class="btn decision_btn"><b>けってい</b></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-center">
                            <button id="kanji_hiragana_toggle_{{ forloop.counter }}" type="button" class="btn bg-white kanji_hiragana_toggle">ひらがなにする</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-center">
                            <button type="button" class="btn bg-white skip">もんだいをスキップ</button>
                        </div>
                    </div>
                    <div style="display: none;" class="skip_error">
                        <div class="row">
                            <div class="col text-center">
                                これいじょう スキップは できないよ
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>


{% endfor %}

{% endblock %}

{% block footer %}
<div class="container">
    <div class="row justify-content-center banner_row">
        <div class="card border-light banner_sp d-md-none d-block">
            <img class="card-img" src="{% static "banner_sp.png" %}" alt="">
            <div class="card-img-overlay">
            <h4 class="text-white"><b>バナー</b></h4>
            </div>
        </div>

        <div class="card border-light banner_pc d-none d-md-block">
            <img class="card-img" src="{% static "banner.png" %}" alt="">
            <div class="card-img-overlay">
            <h4 class="text-white"><b>バナー</b></h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(function(){
        var skip_qty = 0;
        var skip_now = false;
        var is_kana = false;

        $(".note").on("click", function(){
            var rem_q_qty = 0;

            $("[id^=main_]").each(function(i, o){
                if($(o).hasClass('skiped') == false){
                    rem_q_qty++;
                }
            });

            console.log("rem_q_qty" + rem_q_qty);
            console.log("res_cnt" + {{ rem_res_cnt }});
            if(rem_q_qty <= {{ rem_res_cnt }}){
                $("#main_" + (skip_qty + 1)).find('.skip_error').fadeIn('slow');
                return;
            }

            if(skip_now == false){
                skip_now = true;
                var width = $("#main_" + (skip_qty + 1)).find('.question_card').width();
                $("#main_" + (skip_qty + 1)).find('.question').removeClass('row');
                $("#main_" + (skip_qty + 1)).find('.question_card').width(width);
                $("#main_" + (skip_qty + 1)).addClass('rotate-left').delay(700).fadeOut(1,
                                                                function(){
                                                                                $("#main_" + (skip_qty + 1)).addClass('skiped');

                                                                                skip_qty++;
                                                                                skip_now = false;
                                                                                $("#main_" + (skip_qty + 1)).fadeIn();
                                                                                if($("#main_" + (skip_qty + 1)).find("[id^=kanji_hiragana_toggle]").text() == "漢字にする"){
                                                                                    is_kana = true;
                                                                                }
                                                                                else if($("#main_" + (skip_qty + 1)).find("[id^=kanji_hiragana_toggle]").text() == "ひらがなにする"){
                                                                                    is_kana = false;
                                                                                }

                                                                                
                                                                            });
            }
            
        });
        
        $("[id^=decision_btn]").prop("disabled", true);
        var default_url = "{% url 'answer_result' category.id 987654321 123456789 'question_type' 99999 %}"
        var next_url = default_url

        $("[id^=decision_btn]").click(function() {
            location.href = next_url;
        });

        $(document).on('click', '.choice_card', function() {
            $(this).addClass("bg-secondary");
            $(this).addClass("text-white");
            $(this).removeClass("bg-white");

            var clicked_btn = $(this)

            $("#main_" + (skip_qty + 1)).find(".choice_card").each(function(i, o){
                if ($(o).attr('id') != clicked_btn.attr('id')){
                    $(o).addClass("bg-white");
                    $(o).removeClass("bg-secondary");
                    $(o).removeClass("text-white");
                }
            });

            next_url = default_url
            next_url = next_url.replace("987654321", $("#q_id_" + (skip_qty + 1)).text());
            next_url = next_url.replace("123456789", {{ question_no }} + skip_qty);
            next_url = next_url.replace("question_type", $("#c_type_" + (skip_qty + 1)).text());
            next_url = next_url.replace("99999", $(this).attr('name'));
            console.log(next_url);

            $("#decision_btn_" + (skip_qty + 1)).prop("disabled", false);

        });

        

        $(document).on('click', '[id^=kanji_hiragana_toggle]', function() {
            $(this).fadeOut(500, function() {
                if(is_kana){
                    is_kana = false;
                }
                else{
                    is_kana = true;
                }

                if (is_kana){
                    $(this).text("漢字にする")
                }
                else{
                    $(this).text("ひらがなにする")
                }
                $(this).fadeIn(500, function() {

                });
            }); 

            $("#main_" + (skip_qty + 1)).find('.question_body_wrapper').fadeOut(500, function() {

                if (is_kana){
                    $("#main_" + (skip_qty + 1)).find('.question_body').hide();
                    $("#main_" + (skip_qty + 1)).find('.question_body_kana').show();
                }
                else{
                    $("#main_" + (skip_qty + 1)).find('.question_body').show();
                    $("#main_" + (skip_qty + 1)).find('.question_body_kana').hide();
                }

                $("#main_" + (skip_qty + 1)).find('.question_body_wrapper').fadeIn(500, function() {

                });
            }); 

            $("#main_" + (skip_qty + 1)).find(".choice_wrapper").fadeOut(500, function() {
                if (is_kana){
                    $("#main_" + (skip_qty + 1)).find(".textchoice_kanji").hide();
                    $("#main_" + (skip_qty + 1)).find(".textchoice_kana").show();
                }
                else {
                    $("#main_" + (skip_qty + 1)).find(".textchoice_kanji").show();
                    $("#main_" + (skip_qty + 1)).find(".textchoice_kana").hide();
                }
                $("#main_" + (skip_qty + 1)).find(".choice_wrapper").fadeIn(500, function() {
                    
                });
            });
        });

        
    });
</script>
{% endblock %}