{% extends 'question/base.html' %}
{% block meta_title %}管理画面トップ|カテゴリ一覧{% endblock %}
{% block page_title %}管理画面トップ|カテゴリ一覧{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr><th style="width:10%">カテゴリNo.</th><th style="width:90%">カテゴリ名称</th></tr>
            </thead>
            {% for category in object_list %}
            <tr>
                <td>{{ category.category_no }}</td>
                <td><a href="{% url 'category_question_list' category.pk %}">{{ category.name }}</a></td>
                
            </tr>
            {% endfor %}
        </table>
        <a class="btn btn-primary" href="{% url 'question_create' %}" role="button">問題新規作成</a>
        <a class="btn btn-primary" href="{% url 'question_list' %}" role="button">問題一覧</a>
      </div>
    </div>
</div>


{% endblock %}