{% extends 'question/base.html' %}
{% block meta_title %}管理画面|問題詳細{% endblock %}
{% block page_title %}管理画面|問題詳細{% endblock %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
          <div class="card-body">
            <p>問題文（漢字）：{{ imagequestion.body|linebreaksbr }}</p>
            <p>問題文（ひらがな）：{{ imagequestion.body|linebreaksbr }}</p>
            <p>正解：{{ imagequestion.answer_choice_no }}</p>
            <p>解説（正解）：{{ imagequestion.ok_comment|linebreaksbr }}</p>
            <p>解説（不正解）：{{ imagequestion.ng_comment|linebreaksbr }}</p>
            <p>1行あたりの選択肢数：{{ imagequestion.wrap_back_num }}</p>
          </div>
          <div class="card-footer">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr><th style="width:10%">選択肢No.</th><th style="width:90%">選択肢画像</th></tr>
                </thead>
                
            {% for img_choice in choices %}
                <tr>
                  <td style="width:10%">{{ img_choice.choice_no }}</td>
                  <td style="width:90%"><img src="/media/{{ img_choice.img }}"></td>
                </tr>
            </div>
            {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% if category_id %}
          <a class="btn btn-primary" href="{% url 'category_question_list' category_id %}" role="button">{{ category_name }}の問題一覧に戻る</a>
        {% else %}
          <a class="btn btn-primary" href="{% url 'question_list' %}" role="button">問題一覧に戻る</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'question_update_img' imagequestion.id %}" role="button">問題を編集する</a>
        <a class="btn btn-primary" href="{% url 'category_list' %}" role="button">管理トップに戻る</a>
      </div>
    </div>
  </div>
{% endblock %}

