{% extends 'question/base.html' %}
{% block meta_title %}管理画面|問題詳細{% endblock %}
{% block page_title %}管理画面|問題詳細{% endblock %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
          <div class="card-body">
            <p>Q{{ question.question_no }}</p>
            <p>{{ question.body|linebreaksbr }}</p>
            <p>正解：{{ question.answer_choice_no }}</p>
          </div>
          <div class="card-footer">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr><th style="width:10%">選択肢No.</th><th style="width:45%">選択肢内容（漢字）</th><th style="width:45%">選択肢内容（ひらがな）</th></tr>
                </thead>
                
            {% for text_choice in choices %}
                <tr>
                  <td style="width:10%">{{ text_choice.choice_no }}</td>
                  <td style="width:45%">{{ text_choice.body|linebreaksbr }}</td>
                  <td style="width:45%">{{ text_choice.body_kana|linebreaksbr }}</td>
                </tr>
            </div>
            {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a class="btn btn-primary" href="{% url 'question_update' question.id %}" role="button">問題を編集する</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% if category_id %}
          <a class="btn btn-primary" href="{% url 'category_question_list' category_id %}" role="button">{{ category_name }}の問題一覧に戻る</a>
        {% else %}
          <a class="btn btn-primary" href="{% url 'question_list' %}" role="button">問題一覧に戻る</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

