{% extends "question/question_form.html" %}
{% block meta_title %}管理画面|問題新規作成{% endblock %}
{% block page_title %}管理画面|問題新規作成{% endblock %}
{% block js %}
<script>
$(function(){
 
    set_choice_no();

    $('#id_Category').val({{ category_id }});
    $('#id_Category').prop('disabled', true);

    $('#post_form').submit(function() {
        $('#id_Category').prop('disabled', false);
        
        return true;
    });

    $("#id_question_no").val({{ new_question_no }});
    $("#id_question_no").attr('readonly',true);

});
</script>

{{ block.super }}

{% endblock %}