{% extends 'question/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% block meta_title %}問題並べ替え{% endblock %}
{% block page_title %}問題並べ替え{% endblock %}

{% block extrahead %}
    <link href="{% static 'test.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="border" style="padding:10px;">
        <form method="post" id="post_form">
            {% csrf_token %}
            {{ form.management_form }}

            <div class="form-row">
                <div class="form-group col-sm-1">
                </div>

                <div class="form-group col-sm-10">
                    {{ form|crispy }}
                </div>
                <div class="form-group col-sm-1">
                </div>
            </div>

            <ul style="list-style-type: none; padding : 0;" id="question_list" class="question_list">
            {% for inline in inlines %}
                {{ inline.management_form }}
                    {% for line in inline %}
                    <li id="li_question_{{ forloop.counter }}">
                        <div class="form-row">
                            <div class="form-group col-sm-1">
                            </div>

                            <div class="form-group col-sm-10">
                                <div class="border" style="padding:30px;">
                                    {{ line }}
                                </div>
                            </div>
                            <div class="form-group col-sm-1">
                            </div>
                            
                        </div>
                    </li>
                    {% endfor %}
            {% endfor %}
            </ul>
            </div>
            <button class="btn btn-primary" type="submit">送信</button>
            <a class="btn btn-primary" href="{% url 'question_list' category.id %}" role="button">キャンセル</a>
            
        </form>
    
    
  </div>
{% endblock %}

{% block js %}

<script>

function set_question_no(){
    var question_no = 1;

    $("[id^='li_question_']").each(function(i, o){
        var delete_check = $(o).find("input[type='checkbox']" + "[id^='id_question_set-']").prop("checked");

        if(typeof delete_check === "undefined" || delete_check == false){
            $(o).find("input[type='number']" + "[id^='id_question_set-']").val(question_no);
            question_no++;
        }
        
    });
}

$(function(){

    $('#id_name').attr('readonly',true);

    $(document).on('change', "input[type='checkbox']" + "[id^='id_question_set-']", function() {
        if($(this).prop("checked")){

            var enable_question_qty = 0;
            $("#question_list > li").each(function(i, o){
                if($(o).find("input[type='checkbox']").prop("checked") === false){
                    enable_question_qty++;    
                }
                
            });

            if(enable_question_qty < 2){
                $(this).removeAttr('checked').prop('checked', false).change();
                alert("選択肢は最低でも2つ必要です。");
            }
            else{
                $(this).parent().addClass("bg-secondary");
            }

            //bg-secondary
        }
        else{
            $(this).parent().removeClass("bg-secondary");
        }

        set_question_no();
    });

    $("#question_list").sortable({
        axis: "y", // ドラッグの方向を縦に固定
        "opacity": 0.5, // ドラッグ中の透明度
        "update": function(event,ui){ // ドラッグ完了後のコールバック
            set_question_no();
        }
    });

    var b = $("#question_list > input[type='hidden']").each(function(i, o){
        $(o).prop('outerHTML');
    });

    var a = $('.question_list > li').sort(function(a, b){
        var num1 = $(a).find("input[type='number']").val();
        var num2 = $(b).find("input[type='number']").val();

        return num1 - num2;
    });

    $('.question_list > li').each(function(i, o){
        $(o).find("input[type='number']").attr('readonly',true);
        $(o).find("textarea").attr('readonly',true);
    });

    $('#question_list').html(b);
    $('#question_list').append(a);

    
});

</script>

{% endblock %}