{% extends 'question/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% block meta_title %}管理画面|問題編集{% endblock %}
{% block page_title %}管理画面|問題編集{% endblock %}

{% block extrahead %}
    
{% endblock %}

{% block content %}
<div class="container">
    <div class="border" style="padding:10px;">
        <form method="post" enctype="multipart/form-data" id="post_form">
            {% csrf_token %}
            {{ form.management_form }}

            <div class="form-row">
                <div class="form-group col-sm-1">
                </div>

                <div class="form-group col-sm-10">
                    {{ form|crispy }}
                </div>
                <div class="form-group col-sm-1">
                </div>
            </div>

            <ul style="list-style-type: none; padding : 0;" id="choice_list" class="choice_list">
            {% for inline in inlines %}
                {{ inline.management_form }}
                    {% for line in inline %}
                    <li id="li_choice_{{ forloop.counter }}">
                        <div class="form-row">
                            <div class="form-group col-sm-1">
                            </div>

                            <div class="form-group col-sm-10">
                                <div class="border" style="padding:30px;">
                                    {{ line }}
                                </div>
                            </div>
                            <div class="form-group col-sm-1">
                            </div>
                            
                        </div>
                    </li>
                    {% endfor %}
            {% endfor %}
            </ul>
            <button id="choice_add_btn" type="button" class="btn btn-primary">選択肢を追加</button>
            </div>
            <button class="btn btn-primary" type="submit">送信</button>
            <a class="btn btn-primary" href="{% url 'category_list' %}" role="button">キャンセル</a>
            
        </form>
    
    
  </div>
{% endblock %}

{% block js %}

<script>

function set_choice_no(){
    var choice_no = 1;

    
    $("[id^='li_choice_']").each(function(i, o){
        var delete_check = $(o).find("input[type='checkbox']" + "[id^='id_imagechoice_set-']").prop("checked");

        if(typeof delete_check === "undefined" || delete_check == false){
            $(o).find("input[type='number']" + "[id^='id_imagechoice_set-']").val(choice_no);
            choice_no++;
        }
        
    });
}

$(function(){
    
    $(document).on('change', "input[type='checkbox']" + "[id^='id_imagechoice_set-']", function() {
        if($(this).prop("checked")){

            var enable_choice_qty = 0;
            $("#choice_list > li").each(function(i, o){
                if($(o).find("input[type='checkbox']").prop("checked") === false){
                    enable_choice_qty++;    
                }
                
            });

            if(enable_choice_qty < 2){
                $(this).removeAttr('checked').prop('checked', false).change();
                alert("選択肢は最低でも2つ必要です。");
            }
            else{
                $(this).parent().addClass("bg-secondary");
            }

            //bg-secondary
        }
        else{
            $(this).parent().removeClass("bg-secondary");
        }

        set_choice_no();
    });

    $('#choice_add_btn').click(function() {

        var choice_qty = 0;

        $("#choice_list > li").each(function(i, o){
            choice_qty++;
        });
        var clone = $("#choice_list > [id='li_choice_" + choice_qty + "']").clone();

        clone.find("[id='id_imagechoice_set-" + (choice_qty - 1) + "-body']").text("");
        clone.find("[id='id_imagechoice_set-" + (choice_qty - 1) + "-body_kana']").text("");

        clone_html = clone.prop('outerHTML');

        var latest_choice_no = choice_qty - 1; //0から始まるため
        var formset_id = 'set-' + latest_choice_no;
        var li_choice_id = 'li_choice_' + choice_qty;

        var new_choice_html = clone_html.replace(new RegExp(formset_id, "g"), 'set-' + choice_qty); //0から始まるので、choice_qtyがそのまま新しいIDになる
        var new_choice_html = new_choice_html.replace(new RegExp(li_choice_id, "g"), 'li_choice_' + (choice_qty + 1));

        $('#choice_list').append(new_choice_html);
        $('#id_imagechoice_set-TOTAL_FORMS').val(choice_qty + 1);

        set_choice_no();

    });

    $("#choice_list").sortable({
        axis: "y", // ドラッグの方向を縦に固定
        "opacity": 0.5, // ドラッグ中の透明度
        "update": function(event,ui){ // ドラッグ完了後のコールバック
            set_choice_no();
        }
    });

    var b = $("#choice_list > input[type='hidden']").each(function(i, o){
      //コンソールにインデックス番号とテキストを出力する
        $(o).prop('outerHTML');
    });

    var a = $('.choice_list > li').sort(function(a, b){
        var num1 = $(a).find("input[type='number']").val();
        var num2 = $(b).find("input[type='number']").val();

        return num1 - num2;
    });

    $('.choice_list > li').each(function(i, o){
        $(o).find("input[type='number']").attr('readonly',true);
    });

    $('#choice_list').html(b);
    $('#choice_list').append(a);

    $('#post_form').submit(function(){
        var choice_qty = 0;

        $("#choice_list > li").each(function(i, o){
            choice_qty++;
        });

        answer_choice_no = $("#id_answer_choice_no").val();

        if( answer_choice_no > choice_qty){
            alert("正解Noに該当する選択肢がありません。");
            return false;
        }
        return true;
    });
});

</script>

{% endblock %}