#body_wrapper {
    background-color: #EFF6F4;
}

#expire_main_message {
    margin-top: 90px;
}

.p_title {
    font-size: 24px;
}

.p_body {
    font-size: 18px;
    margin-top: 35px;
}

.caution {
    font-size: 13px;
}

.GoogleAdsence {
    margin-top: 90px;
}