a:link, a:visited, a:hover, a:active {
    color: black;
  }

.gutter-40.row {
    margin-right: 0px;
    margin-left: 0px;
}
.gutter-40 > [class^="col-"], .gutter-40 > [class^=" col-"] {
    padding-right: 0px;
    padding-left: 0px;
}

#site_icon {
    margin-top : 5px;
    margin-bottom : 5px;
    margin-right : 0px;

}

#site_icon_img {
    width: 50px;
    height: auto;
}

#site_name {
    white-space: nowrap;
    margin-top : 8px;
    padding-left: 10px;
    font-size: 18px;
}

#site_sub_name {
    font-size: 11px;
    margin-bottom : 5px;
}

#footer_site_name {
    margin-top : -7px;
    padding-left: 10px;
    font-size: 24px;
}

#footer_site_sub_name {
    font-size: 11px;
    margin-bottom : 5px;
}


.footer_sub_text1 {
    margin-left: 0px;
    margin-top: 5px;
    font-size: 12px;
    white-space: nowrap;
}

.sp_footer_margin {
    margin-left: 20px;
}

.footer_sub_text2 {
    margin-top: 5px;
    font-size: 12px;
}

.frame {
    display: inline-block;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
    background-color: #FBFBFB;
}

.pc_footer_bg {
    background:url(/static/footer_bg.png) center no-repeat;
    background-size: cover;
    color: #FBFBFB;
    margin-bottom: 0%;
}

.sp_footer_bg {
    background:url(/static/footer_bg_sp.png) center no-repeat;
    background-size: cover;
    color: #FBFBFB;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer_logo_bg {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #313131;   
    color: #FFFFFF;
    
}

.sp_footer_text {
    font-size: 30px;
}

#body_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
footer {
  margin-top: auto;
}

*:focus {
    outline: none !important;
  }

*:focus {
    box-shadow:none !important;
}

#request_link {
    color: white;
}

#help_link {
    color: white;
}