#body_wrapper {
    background-color: #EFF6F4;
}

#question {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.question_card {
    width: 777px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1rem !important;
}

.question_body {
    font-size: 32px;
    margin-bottom: 30px;
}

.question_choice {
    font-size: 18px;
}

.banner_row {
    margin-top: 10px;
    margin-bottom: 20px;
}

.choice_card {
    border-color: #EFF6F4;
}

footer {
    background-color: #EFF6F4;
}

#decision_btn {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 1rem !important;
    font-size: 18px;
    color: #FBFBFB;
    background-color: #0EC0AB;
}

.choice_no_wrapper {
    white-space: nowrap;
}

.choice_card_body_pc {
    width: 500px;
}

.choice_card_body_sp {
    width: 500px;
}

.img_choice_card_body {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.choice_col {
    padding-left: 0px;
    padding-right: 0px;
}

.img_choice {
    margin-left: 0px;
    margin-right: 0px;
}

.img_choice_pc_width {
    margin-left: 25px;
    margin-right: 25px;
}

.card-text {
    word-break: break-all;
}

#kanji_hiragana_toggle {
    margin-top: 25px;
}