#body_wrapper {
    background-color: #EFF6F4;
}

.question {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.question_card {
    width: 777px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1rem !important;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.8);
    position: relative;
}

.question_body {
    font-size: 32px;
    margin-bottom: 30px;
}

.question_body_kana {
    font-size: 32px;
    margin-bottom: 30px;
}

.question_choice {
    font-size: 18px;
}

.banner_row {
    margin-top: 10px;
    margin-bottom: 20px;
}

.choice_card {
    border-color: #EFF6F4;
}

footer {
    background-color: #EFF6F4;
}

.decision_btn {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 1rem !important;
    font-size: 18px;
    color: #FBFBFB;
    background-color: #0EC0AB;
}

.skip {
    margin-top: 25px;
}

.choice_no_wrapper {
    white-space: nowrap;
}

.choice_card_body_pc {
    width: 500px;
}

.choice_card_body_sp {
    width: 500px;
}

.img_choice_card_body {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.choice_col {
    padding-left: 0px;
    padding-right: 0px;
}

.img_choice {
    margin-left: 0px;
    margin-right: 0px;
}

.img_choice_pc_width {
    margin-left: 25px;
    margin-right: 25px;
}

.card-text {
    word-break: break-all;
}

.kanji_hiragana_toggle {
    margin-top: 25px;
}

.rotate-left {
    transform: rotate(25deg) scale(0.8);
    transition: 0.75s;
    margin-left: 400px;
    opacity: 0;
    z-index: 10;
}

.skip_error {
    color: red;
}


.note {
    position:absolute;
    padding:1em 1.5em;
    top: 400px;
    left: -33px;
    color:#fff;
    background:#EFF6F4;
    overflow:hidden;
}
 
.note:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 16px 16px 0; /* This trick side-steps a webkit bug */
    border-style:solid;
    border-color:#EFF6F4 #FBFBFB #658E15 #658E15; /* A bit more verbose to work with .rounded too */
    background:#658E15; /* For Opera when also applying a border-radius */
    display:block; width:0; /* Only for Firefox 3.0 damage limitation */
/* Optional: shadow */
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}