
#stop_main_message {
    font-size: 32px;
    width: 680px;
}

#stop_sub_message {
    font-size: 18px;
}

#main_row {
    margin-top: 60px;
    margin-bottom: 20px;
}

.banner_row {
    margin-top: 20px;
    padding-bottom: 20px;
}

.stop_sub_messages {
    margin-bottom: -15px;
}

#twitter_share_text {
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 14px;
}